/bases-node/node_modules
/bases-node/tablas
/por-hacer/node_modules
/clima/node_modules
/webserver/node_modules
/webserver/public/assets
/restserver/node_modules
/socket-basico/node_modules
/sockets-colas/node_modules
/socket-chat/node_modules
/typescript-mysql/node_modules
/typescript-mysql/dist
/typescript-mysql/src/mysql
/restserver/server/config 
