{{> head }}

{{> navbar }}

<div class="container">
  <div class="row">

    <div class="col-md-8">
      <h1 class="display-4">NiniaLibra</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a tempus tortor, at tempus ex. In eget lorem eu libero pretium dictum eu sit amet dolor. Maecenas commodo consequat metus, sit amet lobortis arcu fermentum eget. Donec eu dignissim libero, sit amet facilisis enim. Sed imperdiet ligula enim, at cursus risus pellentesque eu. Morbi at mi libero. In a lacus vitae mi blandit facilisis. Suspendisse tincidunt sit amet lorem eu auctor.</p>
    </div>

    <div class="col-md-4">
      <img src="/assets/img/tania.jpg" class="img-thumbnail rounded-circle">
    </div>

  </div>
</div>


{{> footer }}
